@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-Regular.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 400;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-Italic.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-Medium.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 500;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-MediumItalic.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-Bold.ttf);
}

@font-face {
    font-family: 'Red Hat Text';
    font-style: italic;
    font-weight: 700;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatText-BoldItalic.ttf);
}

@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    src: url(chrome-extension://__MSG_@@extension_id__/fonts/RedHatDisplay-Bold.ttf);
}

html {
    font-family: 'Red Hat Text', sans-serif !important;
    --primaryColor: #9FC0A2 !important;
    --backgroundColor: #292e33 !important;
    --surfaceColor: #2f353a !important;
    --surfaceColorHover: #3e454b !important;
    --secondaryColor: #f5c276 !important;
    --tertiaryColor: #d36d6d !important;
    --defaultWhite: #F2F5F3 !important;
    --main-shadow: 0 4px 76px -15px rgba(0, 0, 0, 0.5) !important;
    --arrowPrimary: #68C07B !important;
    --arrowSecondary: #E8A43F !important;
    --arrowTertiary: #EF4747 !important;
    --arrowAlternate: #4B81E6 !important;
    --lastMove: #99d69e !important;
    --preMove: #1B7CC7 !important;
    --moveIndicator: #389840 !important;
    --boardDark: #71828F !important;
    --boardLight: #c7c7c7 !important;
    --coordDark: var(--boardDark) !important;
    --coordLight: var(--boardLight) !important;
    --borderRadiusSmall: 4px !important;
    --borderRadiusLarge: 8px !important;
    scrollbar-color: var(--surfaceColorHover) var(--surfaceColor) !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    border-radius: 8px !important;
    width: 14px !important;
    background: none !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    box-shadow: inset 0 0 10px 10px var(--surfaceColorHover) !important;
    border: solid 5px transparent !important;
    background: none !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px var(--surfaceColor) !important;
    border: solid 5px transparent !important;
    border-radius: 8px !important;
}

/* General */

body {
    font-family: 'Red Hat Text', sans-serif !important;
    background: var(--backgroundColor) !important;
}

.user-link.online .line,
.is-green::before,
good {
    color: var(--primaryColor) !important;
}

html a,
html a:hover {
    color: var(--primaryColor);
}

bad {
    color: var(--tertiaryColor) !important;
}

.utitle {
    color: var(--secondaryColor) !important;
}

.button {
    font-family: 'Red Hat Text', sans-serif !important;
    font-weight: 500 !important;
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
    box-shadow: none !important;
    border-radius: var(--borderRadiusSmall) !important;
    outline: none !important;
    font-size: 1em !important;
    padding: 10px 14px !important;
    text-transform: lowercase !important;
}

.button:hover {
    background: none !important;
    color: var(--primaryColor) !important;
    box-shadow: 0 0 0 1px var(--primaryColor) inset !important;
}

/* Board */

cg-helper cg-container cg-board::before {
    content: "" !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 0 !important;
    background: repeating-conic-gradient(var(--boardDark) 0% 25%, var(--boardLight) 0% 50%) 50% / 25% 25% !important;
}

cg-helper cg-container cg-board {
    border-radius: 4px !important;
    box-shadow: var(--main-shadow) !important;
    overflow: hidden !important;
}

.is3d cg-helper cg-container cg-board {
    border-radius: 0px !important;
    overflow: visible !important;
}

.ranks {
    font-size: 16px !important;
    right: -25px !important;
}

.files {
    font-size: 16px !important;
    bottom: -35px !important;
}

cg-container coords.ranks coord,
cg-container coords.files coord,
.ruser rating {
    color: var(--defaultWhite) !important;
}

coords coord {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: var(--defaultWhite) !important;
    opacity: .4 !important;
    transform: none !important;
    font-weight: 200 !important;
}

.coords-in .files {
    font-size: calc(8px + 4 * ((100vw - 320px) / 880)) !important;
    bottom: 0px !important;
    opacity: 1 !important;
}

.coords-in .ranks {
    font-size: calc(8px + 4 * ((100vw - 320px) / 880)) !important;
    right: 0px !important;
    opacity: 1 !important;
}

.coords-in coords coord {
    opacity: 1 !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    font-weight: 500 !important;
}

.coords-in .orientation-white .files coord:nth-child(2n),
.coords-in .orientation-white .ranks coord:nth-child(2n+1),
.coords-in .orientation-black .files coord:nth-child(2n+1),
.coords-in .orientation-black .ranks coord:nth-child(2n) {
    color: var(--coordDark) !important;
}

.coords-in .orientation-white .files coord:nth-child(2n+1),
.coords-in .orientation-white .ranks coord:nth-child(2n),
.coords-in .orientation-black .files coord:nth-child(2n),
.coords-in .orientation-black .ranks coord:nth-child(2n+1) {
    color: var(--coordLight) !important;
}

.coords-in .eval-gauge {
    margin-left: 0 !important;
    width: 100% !important;
}

cg-resize::before,
cg-resize::after {
    background-color: var(--coordDark) !important;
}

cg-resize {
    color: var(--defaultWhite) !important;
    bottom: -7px !important;
    right: -7px !important;
    z-index: 999999999 !important;
}

cg-resize:hover {
    background: var(--primaryColor) !important;
}


cg-container .cg-shapes {
    opacity: .8 !important;
}

square.last-move {
    background: var(--lastMove) !important;
    opacity: .4 !important;
}

square.move-dest {
    background: radial-gradient(var(--moveIndicator) 19%, rgba(0, 0, 0, 0) 20%) !important;
    opacity: .8 !important;
}

square.oc.move-dest {
    background: radial-gradient(transparent 0%, transparent 79%, var(--moveIndicator) 80%) !important;
}

cg-board square.current-premove {
    background: var(--preMove) !important;
    opacity: .25 !important;
}

/* Selects Default Arrow */

line[stroke="#15781B"] {
    stroke: var(--arrowPrimary) !important;
    stroke-opacity: 1 !important;
}

path[fill="#15781B"] {
    fill: var(--arrowPrimary) !important;
    fill-opacity: 1 !important;
}

circle[stroke="#15781B"] {
    stroke: var(--arrowPrimary) !important;
}

/* Selects Control Arrow */

line[stroke="#003088"] {
    stroke: var(--arrowSecondary) !important;
}

path[fill="#003088"] {
    fill: var(--arrowSecondary) !important;
}

circle[stroke="#003088"] {
    stroke: var(--arrowSecondary) !important;
}

/* Selects Alt Arrow */

line[stroke="#882020"] {
    stroke: var(--arrowTertiary) !important;
}

path[fill="#882020"] {
    fill: var(--arrowTertiary) !important;
}

circle[stroke="#882020"] {
    stroke: var(--arrowTertiary) !important;
}

/* Selects Shift-Alt Arrow */

line[stroke="#e68f00"] {
    stroke: var(--arrowAlternate) !important;
}

path[fill="#e68f00"] {
    fill: var(--arrowAlternate) !important;
}

circle[stroke="#e68f00"] {
    stroke: var(--arrowAlternate) !important;
}

/*Computer Lines*/

line[opacity="0.4"] {
    opacity: .6 !important;
}

square.selected {
    background: var(--lastMove) !important;
    opacity: .2 !important;
}

/* Navigation */

.site-title {
    font-family: 'Red Hat Display', sans-serif !important;
    transition: opacity .2s ease-in-out !important;
    z-index: 9 !important;
}

.site-title:hover {
    opacity: .7 !important;
}

.site-title a {
    color: var(--primaryColor) !important;
}

.site-title span {
    color: var(--defaultWhite) !important;
}

#topnav {
    display: flex !important;
    position: absolute !important;
    width: 100vw !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 0 15vw !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 1800px !important;
}

nav section a {
    border-left: none !important;
    background: none !important;
    text-transform: uppercase !important;
    color: var(--defaultWhite) !important;
    letter-spacing: .1em !important;
    transition: .25s ease-in-out !important;
    transition-property: padding, background !important;
    padding: 0px 10px !important;
    height: auto !important;
    border-radius: var(--borderRadiusSmall) !important;
    text-shadow: none !important;
    font-size: 12px !important;
}

nav section a:hover {
    border-left: none !important;
    background: var(--surfaceColor) !important;
    padding: 0px 20px !important;
    border-radius: var(--borderRadiusSmall) !important;
}

nav section a:target-within {
    border-left: none !important;
    background-color: var(--surfaceColor) !important;
    border-radius: var(--borderRadiusSmall) !important;
}

#topnav div {
    opacity: 0 !important;
    margin-top: -10px !important;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0) !important;
    transition: all .2s ease-in-out !important;
    border-left: none !important;
    box-shadow: none !important;
    border-radius: var(--borderRadiusSmall) !important;
    background-color: var(--surfaceColor) !important;
    overflow: hidden !important;
    width: 12.25rem !important;
    left: 50% !important;
    margin-left: -6.125rem !important;
}

#topnav div.topnavHover {
    opacity: 1 !important;
    margin-top: 0 !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}

#topnav div a {
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    letter-spacing: .05em !important;
    border-radius: 0px !important;
    transition: all .2s ease-in-out !important;
}

#topnav div a:hover {
    background: var(--primaryColor) !important;
    border-radius: 0 !important;
    color: var(--backgroundColor) !important;
}

#topnav.hover section:hover>a,
#topnav section:active>a {
    border-left: none !important;
    background-color: var(--surfaceColor) !important;
    border-radius: 4px 4px 0 0 !important;
}

.site-buttons {
    z-index: 9 !important;
}

.site-buttons .shown .toggle,
.site-buttons .dropdown {
    background: var(--surfaceColor) !important;
    border-radius: var(--borderRadiusSmall) !important;
    box-shadow: none !important;
}

#dasher_app {
    border-radius: var(--borderRadiusSmall) !important;
    overflow: hidden !important;
}

#dasher_app .head {
    border-bottom: 1px solid var(--surfaceColorHover) !important;
}

#dasher_app .links a,
#dasher_app .subs .sub,
#dasher_app .logout button.text {
    padding: 1rem !important;
}

#dasher_app .logout button.text:hover {
    background: var(--tertiaryColor) !important;
    color: var(--backgroundColor) !important;
}

#dasher_app .links a:hover,
#dasher_app .links a:hover::before,
#dasher_app .links button:hover,
#dasher_app .subs .sub:hover {
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
}

#dasher_app .sub::before,
#dasher_app .head::before {
    color: var(--primaryColor) !important;
}

#dasher_app .sub:hover::before,
#dasher_app .selector a::before {
    color: var(--backgroundColor) !important;
}

signal>i {
    background: var(--primaryColor) !important;
}

.dasher.shown #dasher_app .selector a.active,
#dasher_app .selector a:hover,
.dasher.shown #dasher_app .selector a.active::before,
#dasher_app .langs .help:hover {
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
}

#dasher_app .subs,
#dasher_app .status {
    border-top: 1px solid var(--surfaceColorHover) !important;
    border-radius: 0 !important;
}

.dasher #dasher_app .langs .current {
    background-color: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
}

#dasher_app .langs .accepted {
    border-left: 2px solid var(--primaryColor) !important;
}

#dasher_app .langs button:hover,
.lobby__blog .post:hover {
    background: var(--surfaceColorHover) !important;
}

#dasher_app .langs .help {
    color: var(--primaryColor) !important;
}

#notify-app,
#dasher_app {
    box-shadow: var(--main-shadow) !important;
}

#notify-app .site_notification {
    border-bottom: none !important;
    border-radius: var(--borderRadiusSmall) !important;
    padding: 1rem !important;
}

#notify-app .site_notification:hover {
    background: var(--surfaceColorHover) !important;
}

#notify-app .site_notification:hover i {
    color: var(--primaryColor) !important;
}

#notify-app .site_notification.new {
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
}

#notify-app .site_notification.new i {
    color: var(--backgroundColor) !important;
}

#challenge-app.rendered {
    padding: 0 !important;
}

#challenge-app .create {
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
    padding: 8px 20px !important;
}

#challenge-app .empty {
    background: var(--surfaceColor) !important;
    border-radius: var(--borderRadiusSmall) !important;
    box-shadow: var(--main-shadow) !important;
}

#challenge-app .challenge .buttons {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 30% !important;
    padding: 10px !important;
    border: none !important;
}

#challenge-app .challenge {
    background: var(--surfaceColor) !important;
    box-shadow: var(--main-shadow) !important;
    border-radius: var(--borderRadiusSmall) !important;
    padding: 10px !important;
}

#challenge-app .challenge button,
#challenge-app .challenge .owner {
    flex-grow: 1 !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    height: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#challenge-app .challenge .buttons>* {
    padding: 0 !important;
    margin: 2px !important;
    flex-grow: 1 !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    height: 30px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.challenge-page .details {
    position: relative !important;
    background: none !important;
    border: 1px solid var(--primaryColor) !important;
    color: var(--defaultWhite) !important;
}

.challenge-page .details::before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    opacity: .4 !important;
    z-index: 1 !important;
    background: var(--primaryColor) !important;
    border-radius: 99px !important;
}

.challenge-page .details>div {
    font-family: 'Red Hat Display', sans-serif !important;
}

.challenge-page .details>div::before,
.challenge-page .details .mode {
    color: var(--defaultWhite) !important;
}

.challenge-page .waiting .spinner {
    width: 5em !important;
    height: 5em !important;
}

#challenge-app .challenge .owner:hover .view {
    width: 100% !important;
    height: 30px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* Homepage */

@media (min-width: 1260px) {
    main.lobby {
        grid-template-areas:
            'app tv tv side'
            'leader puzzle puzzle winner'
            'tours tours forum forum'
            'support table table blog'
            '. simuls simuls .'
            '. about about .';
    }
}

#main-wrap {
    --main-max-width: 1600px !important;
}

.lobby__app,
.lobby__side {
    width: 23vw !important;
    height: calc(100% - 40px) !important;
    border: 2px solid var(--surfaceColorHover) !important;
    border-radius: var(--borderRadiusSmall) !important;
    overflow: hidden !important;
    margin-top: 20px !important;
    background: var(--surfaceColor) !important;
}

.lobby__app.lobby__app-real_time {
    min-width: 400px !important;
}

.lobby__app__content {
    border-radius: 0 !important;
    background: none !important;
}

.lpools {
    grid-gap: 3px !important;
    padding: 4px !important;
}

.lpools>div {
    border: none !important;
    background: var(--surfaceColorHover) !important;
    border-radius: 0 !important;
}

.lpools>div:hover {
    transform: scale(.95) !important;
    opacity: .9 !important;
    border-radius: var(--borderRadiusSmall) !important;
}

.lpools .clock {
    font-size: 1.8rem !important;
}

.lpools .perf,
.custom {
    font-size: 1.25rem !important;
}

.tabs-horiz {
    background: var(--surfaceColor) !important;
    border-bottom: 2px solid var(--surfaceColorHover) !important;
    border-radius: 0 !important;
}

.tabs-horiz span {
    padding: 10px 0 !important;
}

.tabs-horiz span.active {
    color: var(--primaryColor) !important;
}

.tabs-horiz span::after {
    background: var(--primaryColor) !important;
}

.lobby__app__content,
.lobby__support a,
.lobby__spotlights,
.lobby__box {
    box-shadow: none !important;
}

.lobby__spotlights,
.lobby__streams {
    border-bottom: 2px solid var(--surfaceColorHover) !important;
}

.tour-spotlight {
    background: var(--surfaceColor) !important;
    padding: 10px !important;
}

.tour-spotlight:hover {
    background: var(--surfaceColorHover) !important;
}

.entry {
    padding: 0 10px !important;
}

.timeline {
    overflow: overlay !important;
}

.timeline .entry::after {
    background: none !important;
}

.timeline .entry:hover a {
    color: var(--primaryColor) !important;
}

.lobby__streams .more {
    display: none !important;
}

.lobby__streams .stream {
    display: flex !important;
    flex-direction: column !important;
    padding: 20px 20px !important;
    transition: background .2s ease-in-out !important;
    text-overflow: ellipsis !important;
    margin: 0 !important;
}

.lobby__streams .stream:hover {
    background-color: var(--surfaceColorHover) !important;
}

.lobby__streams .stream.highlight strong {
    color: var(--secondaryColor) !important;
    margin-bottom: 8px !important;
}

.mini-game__player {
    height: 20px !important;
}

.lobby__box {
    background: var(--surfaceColor) !important;
    border-radius: var(--borderRadiusSmall) !important;
    box-shadow: none !important;
    border: 2px solid var(--surfaceColorHover) !important;
    height: auto !important;
}

.lobby__box__top {
    background: var(--surfaceColor) !important;
    border-bottom: 2px solid var(--surfaceColorHover) !important;
}

.lobby__box__content {
    background: none !important;
    overflow: auto !important;
}

.lobby__box td {
    border: none !important;
    padding: 10px !important;
}

.lobby__box tr:nth-child(even) {
    background: var(--surfaceColorHover) !important;
}

.lobby__support {
    display: flex !important;
    flex-direction: column !important;
}

.lobby__support a {
    display: flex !important;
    flex-grow: 1 !important;
    margin-bottom: 4px !important;
    box-shadow: none !important;
    background: var(--surfaceColor) !important;
    padding: 20px !important;
    border-radius: var(--borderRadiusSmall) !important;
    border: 2px solid var(--surfaceColorHover) !important;
}

.lobby__support a:hover {
    transform: scale(.98) !important;
}

.lobby__support i::before,
.lobby__support__text {
    color: var(--secondaryColor) !important;
}

.lobby__table {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background: var(--surfaceColor) !important;
    border-radius: var(--borderRadiusSmall) !important;
    border: 2px solid var(--surfaceColorHover);
    padding: 40px 0 !important;
}

.lobby__start {
    margin: 0 !important;
    order: 2 !important;
    display: flex !important;
    flex-direction: row !important;
    margin-top: 40px !important;
    justify-content: center !important;
    align-items: flex-start !important;
    flex-grow: 0 !important;
}

.lobby__counters {
    position: relative !important;
    order: 1 !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 80% !important;
}

#nb_connected_players {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 0px !important;
    width: 50% !important;
}

#nb_connected_players:hover {
    color: var(--primaryColor) !important;
}

#nb_games_in_play {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 0px !important;
    width: 50% !important;
}

#nb_games_in_play:hover {
    color: var(--primaryColor) !important;
}

#nb_games_in_play strong,
#nb_connected_players strong {
    font-size: 4rem !important;
    color: var(--defaultWhite) !important;
}

a.button.button-metal {
    background: var(--backgroundColor) !important;
    color: var(--defaultWhite) !important;
    box-shadow: none !important;
    margin: 4px !important;
    border-radius: var(--borderRadiusSmall) !important;
}

a.button.button-metal:hover {
    background: var(--primaryColor) !important;
    color: var(--backgroundColor) !important;
}

.bg-switch {
    display: none !important;
}

.lobby__blog .post {
    padding: 20px !important;
    transition: background .2s ease-in-out !important;
}

.lobby__blog .post img {
    border-radius: var(--borderRadiusSmall) !important;
}