@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
	width: 330px;
	height: 600px;
	background-color: #2b343b;
	font-family: 'Red Hat Text', sans-serif;
	color: white;
	font-size: 18px;
	overflow-x: hidden;
	--sectionColor: #21292f;
	--buttonColor: #3f474d;
	--buttonColorHover: #3b4248;
}

#main {
	position: absolute;
	width: 300px;
	height: 580px;
	top: 17px;
	right: 50%;
	transform: translateX(50%);
}

.template {
	display: none !important;
}

/* Icon and switch button */
#topGroup {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

#logo {
	width: 50%;
}

#switchButton {
	width: 45%;
	height: 35px;
	margin-top: 5px;
	border: none;
	border-radius: 4px;
	background-color: var(--buttonColor);
	color: white;
	cursor: pointer;
	font-size: 12px;
	font-family: 'Red Hat Text', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

#switchButton > i {
	margin-right: 5px;
}

#switchButton:hover {
	background-color: var(--buttonColorHover);
}

/* Layout select */
#layoutSelectGroup {
	padding: 8px;
	background-color: var(--sectionColor);
	border-radius: 8px;
}

#layoutSelect {
	background-color: #272a2c;
	border: 2px solid #404246;
	border-radius: 8px;
	color: white;
	width: 45%;
	padding: 8px;
}

/* Color group */

#colorGroup {
	padding: 10px;
	background-color: var(--sectionColor);
	border-radius: 8px;
	margin-top: 10px;
}

/* Tabs */

.tabGroup {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
	margin-top: 5px;
}

.tab {
	width: 38%;
	padding: 0 16px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	border-bottom: 1px solid #4e565c;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.tab:hover {
	border-bottom: 1px solid white;
}

.tab.active {
	border-bottom: 1px solid #9fc0a2;
	color: #9fc0a2;
}

.tab.active:hover {
	border-bottom: 1px solid #9fc0a2;
}

/* Site color section */

.listItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* Board color section */

.hideGroup {
	display: none;
}

.customBoardGroup {
	background-color: var(--buttonColor);
	border-radius: 4px;
	padding: 20px 20px 8px;
	margin-bottom: 20px;
}

#hideBoardColors {
	background-color: #4e565c;
	margin-bottom: 10px;
}

#hideBoardColors:hover {
	background-color: #484f54;
}

/* Button section */

#buttonRow {
	display: flex;
	margin-bottom: 8px;
}

.button {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: var(--buttonColor);
	color: white;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	font-size: 12px;
	font-family: 'Red Hat Text', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button > i {
	margin-right: 3px;
}

.button > span {
	margin-right: 8px;
}

.button:hover {
	background-color: var(--buttonColorHover);
}

.button:active {
	transform: scale(0.95);
}

#basicImportContainer {
	margin: 8px 0 0;
	display: none;
}

#basicImport {
	box-sizing: border-box;
	width: 100%;
	background-color: #4b5b67;
	color: #fff;
	border: 1px solid #607585;
	border-radius: 4px;
	margin-bottom: 8px;
	resize: none;
	outline: none;
}

/* Picker Styles Overrides */

input[type='color'] {
	-webkit-appearance: none;
	border: 2px solid white;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	overflow: hidden;
	outline: none;
	background: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
	border: none;
	outline: none;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	transform: scale(2);
}

.pickr .pcr-button:after,
.pickr .pcr-button:before {
	border-radius: 100% !important;
	overflow: hidden !important;
	outline: none !important;
	border: 1px solid white !important;
}

.pcr-app .pcr-interaction input {
	background-color: #2b343b !important;
	color: white !important;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-type.active {
	background-color: #9fc0a2 !important;
	color: #2b343b !important;
}

.pcr-app {
	background-color: var(--buttonColor) !important;
	font-family: 'Red Hat Text', sans-serif !important;
	color: white !important;
	border-radius: 8px !important;
	overflow: hidden !important;
}

.pcr-app[data-theme='nano']
	.pcr-selection
	.pcr-color-preview
	.pcr-current-color {
	border: 1px solid white !important;
}

.pcr-app button {
	transition: transform 0.4s ease-in-out !important;
}

.pcr-app button.pcr-active,
.pcr-app button:focus,
.pcr-app input.pcr-active,
.pcr-app input:focus,
.pickr button.pcr-active,
.pickr button:focus,
.pickr input.pcr-active,
.pickr input:focus {
	box-shadow: none !important;
	transform: scale(0.9) !important;
}

/* Profile selection group */
#profileGroup {
	padding: 8px;
	background-color: var(--sectionColor);
	border-radius: 8px;
}

.profile {
	padding: 6px 2px;
	margin-bottom: 3px;
	font-size: 12pt;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile > .action {
	width: 21px;
	height: 21px;
	padding: 5px;
	background-color: #5e5e5e;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}

.profile.selected > .action.accept {
	background-color: #9fc0a2;
	cursor: not-allowed;
}

.profile:not(.selected) > .action.accept:hover {
	box-shadow: 0 0 4px 4px #9fc0a23d;
}

.profile > .action.delete:hover {
	box-shadow: 0 0 4px 4px rgba(194, 65, 65, 0.24);
}

.profile > .action.delete:active {
	animation: turnred 3s infinite, shake 0.5s infinite;
}

@keyframes turnred {
	from {
		background-color: #5e5e5e;
		transform: translateX(0);
	}
	to {
		background-color: red;
		transform: translateX(10px);
	}
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.profile > input {
	width: 70%;
}

#addProfileButton {
	margin-top: 12px;
}
