@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
	padding: 20px 20px;
	background-color: #2b343b;
	font-family: 'Red Hat Text', sans-serif;
	color: white;
	font-size: 18px;
	width: 300px;
	overflow-x: hidden;
}

/* First row  */

.topGroup {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	justify-content: space-between;
}

#layoutSelect {
	background-color: #272a2c;
	border: 2px solid #404246;
	border-radius: 8px;
	color: white;
	width: 45%;
	padding: 8px;
}

#logo {
	width: 50%;
}

/* Tabs */

.tabGroup {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.tab {
	width: 38%;
	padding: 0 16px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.8em;
	border-bottom: 1px solid #4e565c;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.tab:hover {
	border-bottom: 1px solid white;
}

.tab.active {
	border-bottom: 1px solid #9fc0a2;
	color: #9fc0a2;
}

.tab.active:hover {
	border-bottom: 1px solid #9fc0a2;
}

/* Site color section */

.listItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

/* Board color section */

.hideGroup {
	display: none;
}

.customBoardGroup {
	background-color: #3f474d;
	border-radius: 4px;
	padding: 20px 20px 8px;
	margin-bottom: 20px;
}

#hideBoardColors {
	background-color: #4e565c;
	margin-bottom: 10px;
}

#hideBoardColors:hover {
	background-color: #484f54;
}

/* Button section */

#buttonRow {
	display: flex;
	margin-bottom: 8px;
}

button {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #3f474d;
	color: white;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	font-size: 12px;
	font-family: 'Red Hat Text', sans-serif;
}

button:hover,
.button:hover {
	background-color: #3b4248;
}

button:first-child {
	margin-right: 8px;
}

button:active {
	transform: scale(0.95);
}

.button {
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #3f474d;
	color: white;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.button:first-child {
	margin-right: 8px;
}

.button:active {
	transform: scale(0.95);
}

#basicImportExportContainer {
	margin: 8px 0 30px;
}

#basicImportExport {
	box-sizing: border-box;
	width: 100%;
	background-color: #4b5b67;
	color: #fff;
	border: 1px solid #607585;
	border-radius: 4px;
	margin-bottom: 8px;
	resize: none;
	outline: none;
}

input[type='color'] {
	-webkit-appearance: none;
	border: 2px solid white;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	overflow: hidden;
	outline: none;
	background: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
	padding: 0;
	border: none;
	outline: none;
}

input[type='color']::-webkit-color-swatch {
	border: none;
	transform: scale(2);
}

/* Picker Styles Overrides */

.pickr .pcr-button:after,
.pickr .pcr-button:before {
	border-radius: 100% !important;
	overflow: hidden !important;
	outline: none !important;
	border: 1px solid white !important;
}

.pcr-app .pcr-interaction input {
	background-color: #2b343b !important;
	color: white !important;
}

.pcr-app .pcr-interaction .pcr-save,
.pcr-app .pcr-interaction .pcr-type.active {
	background-color: #9fc0a2 !important;
	color: #2b343b !important;
}

.pcr-app {
	background-color: #3f474d !important;
	font-family: 'Red Hat Text', sans-serif !important;
	color: white !important;
	border-radius: 8px !important;
	overflow: hidden !important;
}

.pcr-app[data-theme='nano']
	.pcr-selection
	.pcr-color-preview
	.pcr-current-color {
	border: 1px solid white !important;
}

.pcr-app button {
	transition: transform 0.4s ease-in-out !important;
}

.pcr-app button.pcr-active,
.pcr-app button:focus,
.pcr-app input.pcr-active,
.pcr-app input:focus,
.pickr button.pcr-active,
.pickr button:focus,
.pickr input.pcr-active,
.pickr input:focus {
	box-shadow: none !important;
	transform: scale(0.9) !important;
}
