/* ==UserStyle==
@name           Lichess Streamer Layout
@namespace      github.com/ornicar/userstyles
@homepageURL    https://raw.githubusercontent.com/ornicar/userstyles/master/lichess.streamer.user.css
@version        1.0.1
@description    On lichess.org games, puts usernames and clocks around board for easier screen capture
@author         github.com/ornicar github.com/jkner
==/UserStyle== */

@-moz-document domain("lichess.org") {

@media (min-width: 800px), (orientation: landscape) {
    .round__app {
        grid-template-columns: minmax(calc(70vmin * var(--board-scale)), calc(100vh * var(--board-scale) - calc(var(--site-header-height) + var(--site-header-margin)) - 3rem)) minmax(240px, 400px);
        grid-template-rows: 30px 1fr auto min-content auto auto min-content auto 1fr 30px;
        grid-template-areas: 'user-top .' 'board .' 'board mat-top' 'board expi-top' 'board moves' 'board controls' 'board expi-bot' 'board mat-bot' 'board .' 'user-bot .' 'kb-move .';
        margin-top: -0.5em;
    }
    .round__app .rclock-top {
        padding-right: 35em;
        padding-bottom: 2em;
        grid-area: 1/ 2 / 1 / 2;
    }
    .round__app .rclock-bottom {
        padding-right: 35em;
        padding-top: 0.8em;
        grid-area: 9 / 2 / 12 / 2;
    }
    .round__app .round__app__table {
        grid-area: 4 / 2 / 6 / 3;
    }

    .rclock {
     /* that weird shit is required so the clock goes above the player since they share the same grid cell */
     justify-self: flex-end;
     z-index: 1;
    }
    .rclock .tour-rank,
    .rclock .moretime,
    .rclock .berserked {
        order: -1;
    }
    .rclock .bar {
        display: none;
    }
    .rclock .time {
        font-size: 1.3em;
        line-height: 0px;
        background: none;
        
    }
    .ruser {
        font-size: 12px;      
        padding: 0em;
        line-height: 14px;
    }
    .ruser a {

        flex: none;
    }
}

#top .site-buttons a[title="Moderation"] {
    display: none;
}

}
